.head{
    color: white;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    border: thick;
    border-style: solid;
    border-color: aliceblue;
    width: 250px;
    height: 400px;
    padding-left: 10px;
}
.keys{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 15px;
    font-size: large;
    margin: 1px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 10px;
    margin-top: 6px;
    font-weight: bold;
   
}
.keys-alu{
    background-color: orange;
    color: black;
    border-radius: 17px;
    font-size: large;
    margin: 1px;
    height: 50px;
    width: 51px;
    cursor: pointer;
    margin-top: 6px;
    border-color: white;
    font-weight: bold;
}

.result{
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: thin;
    border-color: aqua;
    border-style: solid;
    width: 220px;
    padding: 10px;
}
body{
    background-color: black;
    margin-left: 40vw;
    border: 10px;
    border-color: aqua;
}
.calcu{
    border: thin;
    border-color: aqua;
    border-style: solid;
    width: 230px;
    padding-left: 7px;
    padding-bottom: 5px;
   
}